.music {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 1rem 2rem 1rem 2rem;
  img {
    width: 30%;
  }

  // &:hover it's mean music:hover{}
  &:hover {
    background: rgb(67, 189, 175);
  }
}

.desc-music {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 8vh;
  h4:first-child {
    font-size: 1rem;
  }
  h4 {
    padding-left: 1rem;
    font-size: 0.7rem;
    color: rgb(46, 45, 45);
  }
}

.selected {
  background-color: rgb(58, 153, 142);
  h4:first-child {
    font-weight: bold;
    font-size: 1.1rem;
  }
  h4 {
    color: white;
  }
}
