.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 20vh;
}

.duration-player {
  margin-top: 20px;
  display: flex;
  width: 50%;
  input {
    width: 100%;
    padding: 1rem 0rem;
  }
  p {
    padding: 1rem;
    min-width: 10vh;
  }
}

.control-player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  padding: 1rem;
  font-size: 2rem;
  min-height: 8vh;
  svg:hover {
    cursor: pointer;
    font-size: 2.1rem;
  }
}
