* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: rgb(94, 94, 94);
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(179, 38, 38);
  border-radius: 20px;
  border: transparent;
}

.app {
  h1 {
    margin-top: 5vh;
    margin-left: 25vh;
    text-align: center;
  }
  font-family: "Montserrat", sans-serif;
}

@import "./musicIsRunning";
@import "./player";
@import "./listMusic";
@import "./music";
